/*
JavaScript Snake
By Erick Santos
CSS file
*/
body {
	margin:0px;
	padding:0px;
}

#game-area {
	margin:0px;
	padding:0px;
}

#high-score {
    position: relative;
    left: 200px;
    bottom: 50px;
}

#mode-wrapper {
    color: black;
    font-family: Consolas, arial, helvetica, SansSerif;
    font-size: 14px;
}

#game-area:focus { outline: none; }

a.snake-link, a.snake-link:link, a.snake-link:visited {
  color: yellow;
}

a.snake-link:hover {
  color: yellow;
}

.snake-pause-screen {
    font-family: Consolas, arial, helvetica, SansSerif; 
    font-size: 14px;
    position:absolute;
    width:300px;
    height:80px;
    text-align:center;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-150px;
    display:none;
    background-color:black;
    color: greenyellow;
}

.snake-panel-component {
    position: absolute;
    font-family: Consolas, arial, helvetica, SansSerif; 
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    background-color: black;
    padding: 8px;
    margin: 0px;
}

.snake-snakebody-block {
    margin: 0px;
    padding: 0px;
    background-color: darkslategray;
    position: absolute;
    border: 0px solid darkslategrey;
    background-repeat: no-repeat;
}

.snake-snakebody-alive {
   background-image: url("snake.png");
}

.snake-food-block {
    margin: 0px;
    padding: 0px;
    background-color: black;
    position: absolute;
	border: 0px solid darkslategray;
	background-repeat: no-repeat;    
}

.snake-food-alive{
	background-image: url("food.gif");
}

.snake-playing-field {
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: darkslategray;
    border: 0px solid darkslategray;
}

.snake-game-container {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: none;
    zoom: 1;
    background-color: darkred;
    position: relative;
}
            
.snake-welcome-dialog {
    padding: 8px;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: Consolas, arial, helvetica, SansSerif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    /*height: 150px;*/
    margin-top: -100px;
    margin-left: -158px;
    text-align: center;
    display: block;
}

.snake-try-again-dialog {
    padding: 8px;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: Consolas, arial, helvetica, SansSerif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 100px;
    margin-top: -75px;
    margin-left: -158px;
    text-align: center;
    display: none;
    }
